# Build directories
/Build/
/3rdparty/Build/

# Sublime files
game-bits.sublime-workspace

# Assets
*.spv

# Binary working output
/*.ini

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

