# Build directories
/build/
/3rdparty/build/
out/
.vs/

# Sublime files
game-bits.sublime-workspace

# Assets
*.spv

# Binary built output
bin/Debug
bin/Release
bin/MinSizeRel
bin/RelWithDebInfo
bin/*.exe
bin/*.pdb
bin/*.ilk

# Binary working output
/*.ini

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

