# Build directories
/Build/
/3rdparty/Build/

# Sublime files
gbits.sublime-workspace

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

